*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    width: 75%;
    margin: 0 auto;
}

main{
    padding-bottom: 1em;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    position: relative;
    width: calc(97% / 3);
    margin-bottom: 3em;
}

.card .price{
    color: red;
}

.card .old-price{
    text-decoration: line-through;
    padding-left: 0.5em;
}

.card img:first-of-type{
    position: absolute;
}

.card:hover img:first-of-type{
    display: none;
}

.card .heart{
    position: absolute;
    right: 0;
    top: 0.5em;
    padding: 0.2em 0.7em;
    font-size: 1.4rem;
    background-color: white;
}

.card .discount{
    position: absolute;
    left: 0;
    bottom: 7.5em;
    padding: 0.35em 0.8em;
    font-size: 0.85rem;
    background-color: red;
    color: white;
}

.card .sustainability{
    position: absolute;
    bottom: 7.5em;
    padding: 0.35em 0.8em;
    font-size: 0.85rem;
    background-color: green;
    color: white;
}

.sustainability.double-tag{
    left: 4em;
}

header{
    background-color: #ff6900;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

body{
    margin-top: 7.5em;
}

.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    color: white;
}

.flex-header li{
    display: inline-block;
    padding-right: 0.3em;
}

.flex-header img{
    width: 12%;
    margin-right: 4em;
}

.actions i{
    padding-left: 0.5em;
}

footer{
    background-color: #1a1a1a;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    color: white;
}

.flex-footer li{
    display: inline-block;
    padding: 0.8em 0.5em 0 0;
    font-size: 0.8rem;
}

.social i{
    padding: 0.5em 0 0 0.5em;
    font-size: 1.1rem;
}

.social h5{
    text-align: center;
}